body {
  font-family: sans-serif;
}

.content-table {
  margin: 25px auto;
  min-width: 400px;
  font-size: 1.2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.content-table thead tr {
  background-color: violet;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 3px solid rgb(255, 85, 212);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: grey;
}

.content-table tbody tr:last-of-type {
  border-bottom: 6px solid yellow;
}

.content-table tbody tr.active-row {
  color: rgb(66, 255, 41);
}
